#Windows binary folders
obj_win/

#Android NDK/SDK binary folders
bin/
libs/
obj/
gen/

#Android local properties
local.properties

#Eclipse project files
.project
.classpath
.cproject

#Eclipse project folders
.externalToolBuilders/
.settings/

#Files
lint.xml

#Patterns
*~

