#Windows distro files
game.exe

#Linux distro files
game

#Generic desktop distro
log.html

#Windows binary folders
obj_win/

#Linux binary folders
obj_linux/

#Android NDK/SDK binary folders
bin/
libs/
obj/
gen/

#Android local properties
local.properties

#Eclipse project files
.project
.classpath
.cproject

#Eclipse project folders
.externalToolBuilders/
.settings/

#Files
lint.xml

#Patterns
*~

