#Android NDK/SDK binary folders
bin/
libs/
obj/

#Android local properties
local.properties

#Eclipse project files
.project
.classpath
.cproject

#Eclipse project folders
.externalToolBuilders/
.settings/

#Patterns
*~

